<div class="hero-unit matchview">

    <h1> Availible Matches </h1>

    Your Request {{request.request_origin}} to {{request.request_destination}}

    <h3> Matches </h3>
    <div class="matches">
        <table class="match">
            <thead>
                <tr>
                    <td class="center-border">
                        From
                    </td><td class="center-border">
                        To
                    </td><td>
                        # Seats
                    </td>

                </tr>
            </thead>
        {{#each matches}}
            <tr>
                <td class="center-border">
                    {{offer_origin}}
                    <br>
                    {{offer_start_time_min}} - {{offer_start_time_max}}
                </td><td class="center-border">
                    {{offer_destination}}
                    <br>
                    {{offer_end_time_min}} - {{offer_end_time_min}}
                </td><td>
                    {{offer_numberOfSeats}}
                </td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>