 <ul class="nav">
                <li><a id="notifications" rel="popover" data-placement="bottom" data-content='
                    <ul class="nav nav-pills nav-stacked">
                        {{#each notifications}}
                        <li><a href="#{{id}}" id="link{{id}}" class="notificationLink" data-toggle="modal">{{id}}</a></li>
                        {{/each}}
                    </ul>

                    {{#each notifications}}
                        <div id="{{attribute.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-body">
                                {{match}}
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Deny</button>
                                <button class="btn btn-success" data-dismiss="modal" class="confirm">Confirm</button>
                            </div>
                        </div>
                    {{/each}}
            ' data-original-title="Notifications">Notifications 

                    <span class="badge badge-important">{{notifications.length}}</span>
                </a></li>   
            </ul>