<div class="triprequest">
    <p>User: {{user}}</p>
    <p>Origin Address: {{originAddress}}</p>
    <p>Origin Latitude: {{originLat}}</p>
    <p>Origin Longitude: {{originLong}}</p>
    <p>Destination Address: {{destinationAddress}}</p>
    <p>destinationLat: {{destinationLat}}</p>
    <p>destinationLong: {{destinationLong}}</p>
</div>